chardet==4.0.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
cython==0.29.14; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
gensim==3.8.3
mecab-python3==1.0.5
numpy==1.22.3; python_version >= "3.8"
scipy==1.6.1; python_version >= "3.7"
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
smart-open==5.2.1; python_version >= "3.6" and python_version < "4.0"
sudachidict-core==20211220
sudachipy==0.6.3
