chardet==4.0.0 ; python_version >= "3.9" and python_version < "3.13"
gensim==4.3.2 ; python_version >= "3.9" and python_version < "3.13"
mecab-python3==1.0.8 ; python_version >= "3.9" and python_version < "3.13"
numpy==1.25.2 ; python_version >= "3.9" and python_version < "3.13"
scipy==1.11.3 ; python_version >= "3.9" and python_version < "3.13"
smart-open==6.4.0 ; python_version >= "3.9" and python_version < "3.13"
sudachidict-core==20211220 ; python_version >= "3.9" and python_version < "3.13"
sudachipy==0.6.7 ; python_version >= "3.9" and python_version < "3.13"
